/* div#chart {
    width:920px;
    margin: 0 auto 1em;
    border: 1px solid grey;
    box-shadow: 3px 3px 3px lightgrey;
}

.bar.positive {
    fill: darkred;
}

.bar.negative {
    fill: steelblue;
}

g.infowin {
    fill: grey;
}

g.infowin text,
.axis text {
    font: 11px sans-serif;
    fill:grey;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

path.domain {
    stroke:none;
} */