
path {
  stroke: gray;
}

line {
  stroke: gray;
}

line#limit {
  stroke: #FED966;
  stroke-width: 5;
  stroke-dasharray: 5 8;
}

.grid path {
  stroke-width: 0;
}

.grid .tick line {
  stroke: #9FAAAE;
  stroke-opacity: 0.5;
}

text {
  font-size: 25px;
  fill: #1d1d1d;
}

text.divergence {
  font-size: 30px;
  fill: #231a00;
}

text.value {
  font-size: 30px;
  font-weight: 600;
}

text.title {
  font-size: 30px;
  font-weight: 600;
}

text.label {
  font-size: 40px;
  font-weight: 400;
}

text.source {
  font-size: 18px;
}